* {
  font-family: 'Rubik Mono One', sans-serif;
}

body {
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top;
  background-color: black;
}

#puzzle {
  width: 100%;
}

#guesses {
  width: 100%;
}

#reset {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: pink;
  color: white;
}
