* {
  font-family: 'Rubik Mono One', sans-serif;
}

body {
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top;
  background-color: black;
}

header {
  font-size: 3rem;
  color: white;

  margin-top: 11rem;
  margin-right: 9.5rem;
  margin-left: 56.5rem;
  text-align: center;

}

.game {
  margin-top: -7rem;
  padding: 0 31.5rem 0 10.5rem;
}

#puzzle {
  font-size: 1.7rem;
  text-align: center;
}

#guesses {
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;

}

#btn {
  text-align: center;
}

#reset {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: rgb(255, 165, 213);
  color: white;
  border: solid;
  border-color: black;
}

#img {
  display: block;
  margin-top: 3.5rem;
  margin-right: 15rem;
  margin-left: auto;
}